@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #0d0c0c;
    --background: #f7f6f6;
    --primary: #99827c;
    --secondary: #c8b7b3;
    --accent: #b4948d;
    --text-dark: #f3f2f2;
    --background-dark: #1f1b1b;
    --primary-dark: #836d67;
    --secondary-dark: #4d3c38;
    --accent-dark: #72524b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text);
    line-height: 1.625; /* Equivalent to leading-relaxed */
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.info-img {
    background: url(../assets/images/me.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255, 30%);
    order: 1;
    justify-self: center;
    width: 8rem;
    height: 8rem;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transform: scale(1);
    animation: profile_animate 8s ease-in-out infinite 1s;
    transition: all 0.25s ease-in-out ;
}

.info-img:hover {
    transform: scale(1.1);
}

/* Active state styles */
.nav .active .nav-indicator {
    width: 4rem; /* Change to match hover/focus state */
    background-color: var(--secondary); /* Change to desired color */
}

.nav .active .nav-text {
    color: var(--secondary); /* Change to desired color */
}

/* Dark mode styles */

.dark .nav .active .nav-indicator {
    background-color: var(--text-dark); /* Dark mode secondary color */
}

.dark .nav .active .nav-text {
    color: var(--text-dark); /* Dark mode text color */
}

/* Change the background color and text color when text is selected */
::selection {
    background-color: var(--primary); /* Background color */
    color: #ffffff; /* Text color */
}

.dark ::selection {
    background-color: var(--primary-dark); /* Background color */
    color: #000000; /* Text color */
}

/* For WebKit browsers (like Chrome and Safari) */
::-webkit-selection {
    background-color: var(--primary);
    color: #ffffff;
}

.dark ::-webkit-selection {
    background-color: var(--primary-dark);
    color: #000000;
}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
